button 
{
    height: 90px;
    width: 290px;
    font-size: 28px;
    color: white;
    border: none;
    background-color: blue;
    /* transition-property: background-color color width; */
    /* transition-property: all; */

    /* transition-duration: 1s; */
    /* transition-delay: 2s; */
    /* transition: background-color 3s ease-in-out 1s, color 3s ease-in-out 2s, width 3s ease-in-out 6s; */
    
    transition: background-color 1s linear 8s;

    /* transition: background-color 3s ease-in-out 1s, color 3s ease-in-out 1s, width 3s ease-in-out 1s; */
}

button:hover 
{
    background-color: green;
    color: black;
    width: 600px;
}

.container
{
    width: 960px;
}

.move
{
    margin: 2em;
    width: 150px;
    height: 50px;
    padding: 10px 15px;
    background-color: red;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: .5em;
    font-size: 20px;
    transition-property: translate();
    transition-duration: 3s;
}

#ease
{
    transition-timing-function: ease;
}

#ease-in
{
    transition-timing-function: ease-in;
}

#ease-out
{
    transition-timing-function: ease-out;
}

#ease-in-out
{
    transition-timing-function: ease-in-out;
}

#linear
{
    transition-timing-function: linear;
}

.move:hover
{
    transform: translate(900px, 0);
}